@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&family=Roboto&display=swap');

:root {
    --primary-color: #432E30;
    --primary-color-light: #8E7474;
    --accent-color: #FE6A6B;
    --accent-color-light: #FFE4E4;
    --accent-color-dark: #B94B4C;
    --white-color: #FAFBFC;
    --light-gray-color: #C6CBD1;
    --medium-gray-color: #959DA5;
    --dark-gray-color: #444D56;
    --bg-color: #F8F8FA;
    --code-bg-color: #F0E8E8;
}

/* <menu> */
nav {
  display: grid;
  grid-template-columns: 70px auto;
}

.menu {
    margin: 0;
    text-align: right;
    overflow: hidden;
    list-style: none;
    display: inline-block;
}

.toggle {
  display: none;
  position: relative;
}

.toggle span,
.toggle span:before,
.toggle span:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 18px;
  border-radius: 2px;
  background: var(--primary-color);
  display: block;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  right: 0;
}

.toggle span:before {
  top: -6px;
}

.toggle span:after {
  bottom: -6px;
}

.toggle.open span{
  background-color: transparent;
}

.toggle.open span:before,
.toggle.open span:after {
  top: 0;
}

.toggle.open span:before {
  transform: rotate(45deg);
}

.toggle.open span:after {
  transform: rotate(-45deg);
}

.menu__item {
  padding: 1rem;
  display: inline-block;
}

.menu__item.toggle {
  display: none;
}
/* </menu> */

/* <qalibre> */
.qalibre {
  text-align: center;
  background-color: var(--bg-color);
  padding: 2rem 0 2rem 0;
}

.qalibre__title {
  font-weight: 900;
  color: var(--primary-color);
}

.qalibre__description {
  margin: -1rem auto 2rem auto;
}

.qalibre__terminal {
  width: 60%;
  margin: -11rem auto 3rem auto;
  text-align: left;
  color: white;
  padding: 0 1rem;
  border-radius: 4px;
  background-color: #232323;
  min-height: 285px;
  animation: fadeUp 2s;
  box-shadow: 0px 12px 36.8px 9.2px rgba(0, 0, 0, 0.1);
}

.qalibre__terminal pre {
  white-space: pre-line;
  padding-top: 1rem;
}
/* </qalibre> */

/* <feature> */
.feature {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.feature__item {
  margin: 0 20px 0 0;
}

.feature__item .section__title {
  margin-bottom: 0;
}

.feature__item p {
  margin-top: 0.5rem;
}
/* </feature> */

html, body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
}

code {
    font-size: 1.3em;
}

a, a:hover {
  text-decoration: none;
  color: var(--primary-color);
}

.link {
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.link--dark {
    color: var(--primary-color);
}

.link--dark--bold {
    font-weight: bold;
    color: var(--primary-color);
}

.link:hover {
  color: var(--accent-color);
}

.logo {
  background-size: contain;
  margin: 1rem 0 0 1rem;
  width: 150px;
}

footer {
    display: block;
}

.footer {
    text-align: center;
    background-color: var(--primary-color);
    padding: 2rem;
    color: white;
    flex-shrink: 0;
}

.wrapper {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  width: 70%;
  flex: 1 0 auto;
}

.accent {
  color: var(--accent-color);
}